.vscode

hello_world/.bake_cache
hello_world/.vscode
hello_world/bin

DataTypes/.bake_cache
DataTypes/.vscode
DataTypes/bin

UserDataTypes/.bake_cache
UserDataTypes/.vscode
UserDataTypes/bin

CPPClasses/.bake_cache
CPPClasses/.vscode
CPPClasses/bin